body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f5e8c4;
  }
  .container {
    padding: 20px 35px;
  }
  header {
    padding: 20px 35px;
    margin: 0;
    text-align: center;
    background-color: black;
    color: #f5e8c4;
  }
  #main-bio {
    width: 70%;
    float: left;
    }
  #main-bio img {
      height: 200px;
      width: 200px;
      float: left;
      margin-right: 20px;
    }
  #contact-info {
    width: 30%;
    float: left;
  }
  #main-bio p {
    text-align: left;
    float: left;
    width: 60%;
    font-size: 26px;
  }
  li {
    padding-left: 10px
  }